@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes slideIn { from { transform: translateX(-5%); } to { transform: translateX(0); } }
@-moz-keyframes slideIn { from { transform: translateX(-5%); } to { transform: translateX(0); } }
@keyframes slideIn { from { transform: translateX(-5%); } to { transform: translateX(0); } }
 
.fade-in {
 opacity:0;
 -webkit-animation:fadeIn ease-in 1, 1s ease-out 0s 1 slideIn; 
 -moz-animation:fadeIn ease-in 1, 1s ease-out 0s 1 slideIn;
 animation:fadeIn ease-in 1, 1s ease-out 0s 1 slideIn;
	
 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}

.fade-in-noslide {
 opacity:0;
 -webkit-animation:fadeIn ease-in 1; 
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
	
 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.splitRight {
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}
.splitLeft {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right:0;
  background-color: #F3B84A;
}

.centeredLeft {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.bioText {
  margin-right: 40px;
  margin-left: 55px;
  color: darkgrey;
  font-size: 16px;
  font: "BebasNeue Regular";
}
.bioTextTitle {
  margin-right: 40px;
  margin-left: 55px;
  color: black;
  font-size: 30px;
  font: 'BebasNeue Regular';
}
.bioTextBold {
  color: black;
  font: "BebasNeue Regular";
}
.bioVectors {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}