@font-face {
  font-family: 'AvenirNext';
  src:  url('../AvenirNextLTPro-Regular.woff') format('woff');
}

@media (max-width: 1150px) {
    .rotunda {
        display: none;
    }
}

.intro {
	margin-left: 10%;
	margin-top: 3%;
	margin-right: 8%;
}

.rotunda {
	margin-top: 0%;
	width: 400px;
	min-width: 300px;
	margin-left: 0px;
}

.rotunda2 {
	margin-top: 0%;
	width: 390px;
	margin-left: 0px;
}

.laptop {
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.jumbotron-fluid {
	background-color: #FAFAFA;
}

.box1 {
	background-color: #5592FF;
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.box1:hover {
	opacity: 1;
}

#about {
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#about:hover {
	opacity: 1;
}

#mail {
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#mail:hover {
	opacity: 1;
}

#linkedin {
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#linkedin:hover {
	opacity: 1;
}

#spotify {
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#spotify:hover {
	opacity: 1;
}

.imageBox {
	width: 270px;
	margin: auto;
	padding-top: 20%;
	padding-bottom: 20%;
}

.imageBox2 {
	width: 190px;
	margin: auto;
	padding-top: 20%;
	padding-bottom: 20%;
}

.imageBox3 {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-bottom: 0px;
	margin-top: 0px;
}

.boxText {
	position: absolute;
	left: 25px;
	bottom: 5px;
	color: white;
	font-family: AvenirNext;
	font-size: 27px
}

.box2 {
	background-color: #9DD088;
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.box2:hover {
	opacity: 1;
}

.box3 {
	background-color: #E64D4D;
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.box3:hover {
	opacity: 1;
}

.box4 {
	background-color: #7F458E;
	opacity: .4;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.box4:hover {
	opacity: 1;
}

.contact {
	background-color: black;
	position: absolute;
	height: 100px;
	bottom: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
