@font-face {
  font-family: 'AvenirNext';
  src:  url('../AvenirNextLTPro-Regular.woff') format('woff');
}



@font-face {
  font-family: 'Choplin';
  src:  url('../Choplin-Medium-DEMO.otf');
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromLeft2 {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2{
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3{
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .flex-grid {
    display: block !important;
  }
}

@media (max-width: 1000px) {
  .aboutHover {
    margin-top: -25% !important;
  }
}

@media (max-width: 1000px) {
  .introPara {
    margin-left: 10% !important;
	margin-right: 10% !important;
  }
  .challenge {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
	}
	.info {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info2 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info10 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info7 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info6 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info8 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info3 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.info4 {
		margin-left: 10% !important;
		margin-right: 10% !important;
		margin-bottom: 9% !important;
		margin-top: 9% !important;
	}
	.intro6 {
		margin-left: 10% !important;
		margin-top: 3%;
		margin-right: 10% !important;
		padding-bottom: 40px;
		margin-bottom: 9%;
	}
	.intro7 {
		margin-left: 10% !important;
		margin-top: 3%;
		margin-right: 10% !important;
		padding-bottom: 40px;
		margin-bottom: 9%;
	}
	.challenge2 {
		margin-left: 10% !important;
		margin-right: 10% !important;
	}
	#about {
		margin-top: 9% !important;
	}
	.boxText {
		visibility: hidden;
	}
	.aegisText {
		visibility: hidden;
	}
	.boxText2 {
		visibility: hidden;
	}
	.aegisText2 {
		visibility: hidden;
	}
	.hackText {
		visibility: hidden;
	}
	.hackText2 {
		visibility: hidden;
	}
	.scheduleText {
		visibility: hidden;
	}
	.scheduleText2 {
		visibility: hidden;
	}
	.box1 {
		margin-right: 0px !important;
	}
	.box2 {
		margin-left: 0px !important;
		margin-top: 2px !important;
	}
	.box4 {
		margin-right: 0px !important;
		margin-bottom: 2px !important;
	}
	.box3 {
		margin-left: 0px !important;
	}
}

@media (max-width: 1000px) {
  .ppPara {
    margin-left: 10% !important;
	margin-right: 10% !important;
	margin-bottom: 9% !important;
  }
}


@media (max-width: 1000px) {
  .rotunda {
    display: none;
  }
}

@media (max-width: 1000px) {
    .imageBox3 {
	padding-top: 20% !important;
	padding-bottom: 20% !important;
    }
}

.rightPhone {
	width: 55%;
}

.intro {
	margin-left: 10%;
	margin-top: 1%;
	margin-right: 40%;
}

.transition2 {
	animation: 1s ease-in-out 0s 1 slideInFromLeft2, 1s ease-in-out 0s 1 fadeIn;
}

.introPara {
	margin-left: 20%;
    animation: 1s ease-in-out 0s 1 slideInFromLeft, 1s ease-in-out 0s 1 fadeIn;
}

.ppPara {
	margin-left: 10%;
	margin-right: 35%;
	margin-bottom: 9%;
}

.challenge {
	margin-left: 22%;
	margin-right: 22%;
	margin-bottom: 9%;
}

.challenge2 {
	margin-left: 22%;
	margin-right: 22%;
}

.intro5 {
	margin-left: 10%;
	margin-top: 1%;
	margin-right: 10%;
	margin-top: 0.5em;
  	margin-bottom: 0.5em;
}

.info {
	margin-top: 40%;
	margin-left: 30%;
}

.info2 {
	margin-top: 40%;
	margin-right: 30%;
}

.info3 {
	margin-top: 20%;
	margin-left: 20%;
	margin-right: 10%;
}

.info6 {
	margin-top: 12%;
	margin-left: 20%;
	margin-right: 10%;
}

.info4 {
	margin-top: 20%;
	margin-right: 20%;
	margin-left: 10%;
}

.info10 {
	margin-top: 14%;
	margin-right: 20%;
	margin-left: 10%;
}

.info7 {
	margin-top: 28%;
	margin-right: 20%;
	margin-left: 10%;
}

.info8 {
	margin-top: 20%;
	margin-right: 20%;
	margin-left: 10%;
}

.col5 {
  flex: 1;
  box-shadow: 0;
  transition: box-shadow 0.3s ease-in-out;
}

.col5:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.intro2 {
	margin-left: 20%;
	margin-top: 3%;
	margin-right: 5%;
	padding-bottom: 40px;
}

.intro4 {
	margin-left: 5%;
	margin-top: 3%;
	margin-right: 20%;
	padding-bottom: 40px;
}

.intro6 {
	margin-left: 20%;
	margin-top: 3%;
	margin-right: 10%;
	padding-bottom: 40px;
	margin-bottom: 9%;
}

.intro7 {
	margin-left: 10%;
	margin-top: 3%;
	margin-right: 20%;
	padding-bottom: 40px;
	margin-bottom: 9%;
}

.intro3 {
	margin-left: 5%;
	margin-top: 3%;
	margin-right: 10%;
}

.flex-grid {
  display: flex;
}

.col1 {
  flex: 1;
}

.col2 {
  flex: 1;
}

.rotunda {
	margin-top: -47px;
	width: 410px;
	min-width: 300px;
	flex-wrap: wrap;
	margin-left: 10%;
    animation: 1s ease-in-out 0s 1 slideInFromRight, 1s ease-in-out 0s 1 fadeIn2;
}

#virginia {
	opacity: 1;
	transition: opacity .6s ease-out;
}

#checkout {
	opacity: 1;
	transition: opacity .6s ease-out;
}

#virginia:hover {
	opacity: .6;
}

#checkout:hover {
	opacity: .6;
}

.rotunda2 {
	margin-top: 0%;
	width: 390px;
	margin-left: 0px;
	margin-bottom:0px;
}

.laptop {
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.jumbotron-fluid {
	background-color: #FAFAFA;
}

.transition {
    animation: 1s ease-in-out 0s 1 slideInFromBottom, 1s ease-in-out 0s 1 fadeIn3;
}

.box1 {
	background-color: #5592FF;
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
	margin-right: 2px;
	margin-bottom: 2px;
}
.box1:hover {
	opacity: 1;
}
.box1:hover .aegisText {
	opacity: 1;
	left: 25px;
}
.box1:hover .aegisText2 {
	opacity: 1;
	left: 25px;
}

#about {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#about:hover {
	opacity: 1;
}

#homeLine {
	width: 55px;
	height: 2px;
	background-color: #5592FF;
	margin-top: 5px;
	margin-left: 87px;
	visibility: hidden;
	display: inline-block;
}

#aboutLine {
	position: absolute;
	width: 50px;
	height: 2px;
	background-color: #5592FF;
	margin-top: 5px;
	margin-left: -3px;
	visibility: hidden;
	display: inline-block;
}

#mail {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#mail:hover {
	opacity: 1;
}

#work2 {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#work2:hover {
	opacity: 1;
}

#internship {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#internship:hover {
	opacity: 1;
}

#pp {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#pp:hover {
	opacity: 1;
}

#linkedin {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#linkedin:hover {
	opacity: 1;
}

#spotify {
	opacity: .75;
	transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#spotify:hover {
	opacity: 1;
}

.imageBox {
	width: 270px;
	margin: auto;
	padding-top: 20%;
	padding-bottom: 20%;
}

.imageBox2 {
	width: 190px;
	margin: auto;
	padding-top: 20%;
	padding-bottom: 20%;
}

.imageBox3 {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

.imageBox4 {
	width: 180px;
	margin: auto;
	padding-top: 20%;
	padding-bottom: 20%;
}

.boxText {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 15px;
	color: white;
	font-family: AvenirNext;
	font-size: 25px;
}

.arrow {
	position: absolute;
	transition: opacity 0.5s ease;
  	opacity: .6;
	margin-left: 20px;
}

.arrow:hover {
  	opacity: 1;
}

.boxText2 {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 59px;
	color: white;
	font-family: AvenirNext;
	font-size: 15px;
}

.aegisText {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 15px;
	color: white;
	font-family: AvenirNext;
	font-size: 25px;
}

.aegisText2 {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 59px;
	color: white;
	font-family: AvenirNext;
	font-size: 15px;
}

.aboutHover {
	transition: opacity 0.5s ease, margin-left 0.5s ease;
  	opacity: 0;	
    color:white;
	font-family: AvenirNext;
	font-size: 15px;
	margin-left: 10%;
	margin-top: -17%;
	margin-bottom:1%;
}

.picture {
	margin-bottom: 9%;
}

.picture:hover .aboutHover  {
	opacity: 1;
	margin-left: 13%;	
}

.picture:hover .aboutHover2  {
	opacity: 1;
	margin-left: 13%;	
}


.aboutHover2 {
	transition: opacity 0.5s ease, margin-left 0.5s ease;
  	opacity: 0;	
	color:white;
	font-size: 23px;
	margin-left: 10%;
	font-family: AvenirNext;

}

.hackText {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 15px;
	color: white;
	font-family: AvenirNext;
	font-size: 25px
}

.hackText2 {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 59px;
	color: white;
	font-family: AvenirNext;
	font-size: 15px
}

.scheduleText {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 15px;
	color: white;
	font-family: AvenirNext;
	font-size: 25px
}

.scheduleText2 {
	position: absolute;
	transition: opacity 0.5s ease, left 0.5s ease;
  	opacity: 0;
	left: 0px;
	bottom: 59px;
	color: white;
	font-family: AvenirNext;
	font-size: 15px
}

.box2 {
	background-color: #1ED35F;
	opacity: .6;
	transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
	margin-right: 2px;
	margin-top: 2px;
}
.box2:hover {
	opacity: 1;
}

.box2:hover .boxText2 {
	opacity: 1;
	left: 25px;
}

.box2:hover .boxText {
	opacity: 1;
	left: 25px;
}

.box3 {
	background-color: #E64D4D;
	opacity: .6;
	transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
	margin-top: 2px;
	margin-left: 2px;
}

.box4 {
	background-color: #B874CD;
	opacity: .6;
	transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
	margin-bottom: 2px;
	margin-left: 2px;	
}
.box3:hover {
	opacity: 1;
}
.box3:hover .hackText {
	opacity: 1;
	left: 25px;
}
.box3:hover .hackText2 {
	opacity: 1;
	left: 25px;
}

.box4:hover {
	opacity: 1;
}
.box4:hover .scheduleText {
	opacity: 1;
	left: 25px;
}
.box4:hover .scheduleText2 {
	opacity: 1;
	left: 25px;
}

.contact {
	background-color: black;
	position: absolute;
	height: 100px;
	bottom: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
